html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
}

body > div:first-child {
  width: 100%;
  height: 100%;
}

.topbar {
  height: 66px;
  background-color: rgb(53, 75, 102);
}

.container {
  height: calc(100% - 66px);
  font-size: 0;
}

.left-aside,
.main-content,
.right-aside {
  font-size: 16px;
  display: inline-block;
  height: 100%;
  vertical-align: bottom;

}

.left-aside {
  width: 190px;
  background-color: gold;
}

.main-content {
  width: calc(100% - 500px);
  background-color: silver;
}

.right-aside {
  width: 310px;
  background-color: maroon;
}
